@model InventoryViewModel

<h2>New Inventory Item</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">

    <div class="mb-3">
        <label asp-for="CurrentProduct.ProductName" class="form-label">Description:</label> <!--Changed viewback to CurrentTask-->
        <input asp-for="CurrentProduct.ProductName" class="form-control"> <!--Changed viewback to CurrentTask-->
    </div>

    <div class="mb-3">
        <label asp-for="CurrentProduct.CategoryId" class="form-label">Category:</label> <!--Changed viewback to CurrentTask-->
        <select asp-for="CurrentProduct.CategoryId" class="form-select"
                asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name"))">
            <!--Changed viewback to Model-->
            <option value=""></option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="CurrentProduct.NumberInStock" class="form-label">Number of Items in Stock:</label> <!--Changed viewback to CurrentTask-->
        <input asp-for="CurrentProduct.NumberInStock" class="form-control" type="text"> <!--Changed viewback to CurrentTask-->
    </div>

    <div class="mb-3">
        <label asp-for="CurrentProduct.DateChecked" class="form-label">Due Date:</label> <!--Changed viewback to CurrentTask-->
        <input asp-for="CurrentProduct.DateChecked" class="form-control" type="text"> <!--Changed viewback to CurrentTask-->
    </div>

    <div class="mb-3">
        <label asp-for="CurrentProduct.StatusId" class="form-label">Status:</label> <!--Changed viewback to CurrentTask-->
        <select asp-for="CurrentProduct.StatusId" class="form-select"
                asp-items="@(new SelectList(Model.Statuses, "StatusId", "Name"))">
            <!--Changed viewback to Model-->
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
